.worldmap {
  --color-linked: black;
  --color-linked-hover: black;
  --color-path-default: #ccc;
  --color-path-current: black;
  --color-path-hover: #b3b3b3;
  --color-available: red;
  --color-stroke: white;
  --color-ocean: white;
  --color-caption: orange;
  --color-tooltip-text: white;
  --color-tooltip-bg: black; }

.worldmap {
  overflow: hidden;
  position: relative; }
  .worldmap__back {
    display: none;
    margin: 0 5px;
    position: absolute;
    top: 10px; }
    .worldmap__back--select {
      position: relative;
      top: unset; }
  .worldmap__svg {
    background-color: var(--color-ocean);
    max-height: 530px;
    width: 100%; }
  .worldmap__country-title {
    position: absolute;
    left: 10px;
    top: 10px; }
  .worldmap path {
    fill: var(--color-path-default);
    stroke: transparent;
    -webkit-transition: all 600ms ease-out;
    transition: all 600ms ease-out; }
    .worldmap path:hover {
      fill: var(--color-path-hover);
      z-index: 999;
      -webkit-transform: translate(1, 1);
              transform: translate(1, 1); }
  .worldmap path.is-current[data-url] {
    cursor: pointer; }
  .worldmap path.is-selected[data-url]:hover {
    fill: var(--color-linked-hover);
    cursor: pointer; }
  .worldmap path[data-url]:hover {
    cursor: pointer; }
  .worldmap .is-selected {
    fill: var(--color-available);
    stroke: white;
    stroke-width: 0.3; }
    .worldmap .is-selected:hover {
      fill: var(--color-path-current); }
  .worldmap__select {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .worldmap__zoom-out-icon {
    display: none; }
  .worldmap__zoom-in-icon {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    opacity: .7; }
    .worldmap__zoom-in-icon:hover {
      opacity: 1; }
  .worldmap[data-autozoom="on"] .worldmap__zoom-in-icon {
    display: block; }
  .worldmap__tooltip {
    opacity: 0;
    position: absolute;
    background-color: var(--color-tooltip-bg);
    color: var(--color-tooltip-text);
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2px; }
  .worldmap:hover > .worldmap__tooltip {
    opacity: 1; }

.worldmap.is-zoomed .worldmap__back {
  display: block; }

.worldmap.is-zoomed path.is-selected:not(.is-single):not(.is-current):not([data-url]):hover {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.worldmap.is-zoomed path.is-current {
  fill: var(--color-path-current);
  cursor: unset; }

.worldmap.is-zoomed path.is-current:hover {
  cursor: default; }

.worldmap.is-zoomed .worldmap__zoom-out-icon {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  opacity: .7; }
  .worldmap.is-zoomed .worldmap__zoom-out-icon:hover {
    opacity: 1; }

.worldmap.is-zoomed .worldmap__zoom-in-icon {
  display: none; }

.worldmap[data-autoreset="off"].is-zoomed {
  cursor: default; }

.worldmap[data-autoreset="on"].is-zoomed {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.worldmap[data-preventzoomout="on"].is-zoomed {
  cursor: unset; }

.worldmap[data-zoom="on"]:not(.is-zoomed) svg path.is-selected:not(.is-single):not([data-url]) {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.worldmap[data-zoom="off"] svg path.is-selected[data-url] {
  fill: var(--color-available);
  cursor: pointer; }

.worldmap[data-zoom="off"] svg path.is-selected:hover[data-url] {
  fill: var(--color-linked-hover); }

@media only screen and (max-width: 760px) {
  .worldmap__tooltip {
    display: none; } }

.worldmap path[data-id="AG"],
.worldmap path[data-id="BM"],
.worldmap path[data-id="BB"],
.worldmap path[data-id="KM"],
.worldmap path[data-id="CV"],
.worldmap path[data-id="KY"],
.worldmap path[data-id="DM"],
.worldmap path[data-id="MQ"],
.worldmap path[data-id="GP"],
.worldmap path[data-id="FK"],
.worldmap path[data-id="FO"],
.worldmap path[data-id="GD"],
.worldmap path[data-id="VC"],
.worldmap path[data-id="LC"],
.worldmap path[data-id="VI"],
.worldmap path[data-id="TT"],
.worldmap path[data-id="IC"],
.worldmap path[data-id="PF"],
.worldmap path[data-id="KN"],
.worldmap path[data-id="CW"],
.worldmap path[data-id="AW"],
.worldmap path[data-id="LI"],
.worldmap path[data-id="MV"],
.worldmap path[data-id="MS"],
.worldmap path[data-id="NR"],
.worldmap path[data-id="PN"],
.worldmap path[data-id="SG"],
.worldmap path[data-id="SX"],
.worldmap path[data-id="SC"],
.worldmap path[data-id="BS"],
.worldmap path[data-id="TC"],
.worldmap path[data-id="TO"],
.worldmap path[data-id="TT"],
.worldmap path[data-id="YT"],
.worldmap path[data-id="MQ"],
.worldmap path[data-id="VG"],
.worldmap path[data-id="AI"],
.worldmap path[data-id="PR"],
.worldmap path[data-id="RE"],
.worldmap path[data-id="MU"],
.worldmap path[data-id="FK"] {
  stroke: none; }
