.worldmap__countrylist {
  max-height: 250px;
  overflow-y: scroll; }
  .worldmap__countrylist .form-type-checkbox {
    margin: 5px;
    display: inline;
    float: left;
    width: 200px; }

.worldmap__linkfield {
  margin: 0 5px; }
