// Vars.
$countries-list-scroll-height: 250px;
$countries-checkbox-container-width: 200px;
$countries-checkbox-gap: 5px;
$countries-link-gap: 5px;

.worldmap__countrylist {
    max-height: $countries-list-scroll-height;
    overflow-y: scroll;
  .form-type-checkbox {
    margin: $countries-checkbox-gap;
    display: inline;
    float: left;
    width: $countries-checkbox-container-width;
  }
}

.worldmap__linkfield {
    margin: 0 $countries-link-gap;
}
