// Colors.
$worldmap-linked: black;
$worldmap-linked--hover: black;
$worldmap-path: #ccc;
$worldmap-path--hover: #b3b3b3;
$worldmap-available: red;
$worldmap-path--current: black;
$worldmap-stroke: white;
$worldmap-bg: white;
$worldmap-caption: orange;
$worldmap-tooltip: white;
$worldmap-tooltip-bg: black;

// CSS vars can be overwritten.
.worldmap {
  --color-linked: #{$worldmap-linked};
  --color-linked-hover: #{$worldmap-linked--hover};
  --color-path-default: #{$worldmap-path};
  --color-path-current: #{$worldmap-path--current};
  --color-path-hover: #{$worldmap-path--hover};
  --color-available: #{$worldmap-available};
  --color-stroke: #{$worldmap-stroke};
  --color-ocean: #{$worldmap-bg};
  --color-caption: #{$worldmap-caption};
  --color-tooltip-text: #{$worldmap-tooltip};
  --color-tooltip-bg: #{$worldmap-tooltip-bg};
}

.worldmap {
  overflow: hidden;
  position: relative;

  &__back {
    display: none;
    margin: 0 5px;
    position: absolute;
    top: 10px;
    &--select {
      position: relative;
      top: unset;
    }
  }

  &__svg {
    //set if the map should allways be visible
    background-color: var(--color-ocean);
    max-height: 530px;
    width: 100%;
  }

  &__country-title {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  path {
    fill: var(--color-path-default);
    stroke: transparent;
    transition: all 600ms ease-out;

    &:hover {
      fill: var(--color-path-hover);
      z-index: 999;
      transform: translate(1, 1);
    }

  }

  path.is-current[data-url] {
    cursor: pointer;
  }


  path.is-selected[data-url]:hover {
    fill: var(--color-linked-hover);
    cursor: pointer;
  }

  path[data-url]:hover {
    cursor: pointer;
  }

  .is-selected {
    fill: var(--color-available);
    stroke: $worldmap-stroke;
    stroke-width: 0.3;

    &:hover {
      fill: var(--color-path-current);
    }
  }

  &__select {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__zoom-out-icon {
    display: none;
  }

  &__zoom-in-icon {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  &[data-autozoom="on"] {
    .worldmap__zoom-in-icon {
      display: block;
    }
  }

  &__tooltip {
    opacity: 0;
    position: absolute;
    background-color: var(--color-tooltip-bg);
    color: var(--color-tooltip-text);
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2px;
  }
  &:hover > &__tooltip {
    opacity: 1;
  }

}

.worldmap.is-zoomed {

  .worldmap__back {
    display: block;
  }

  path.is-selected:not(.is-single):not(.is-current):not([data-url]):hover {
    cursor: zoom-out;
  }

  path.is-current {
    fill: var(--color-path-current);
    cursor: unset;
  }

  //path[data-url]:hover {
  //  cursor: pointer;
  //}

  path.is-current:hover {
    cursor: default;
  }


  .worldmap__zoom-out-icon {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  .worldmap__zoom-in-icon {
    display: none;
  }
}

.worldmap[data-autoreset="off"].is-zoomed {
  cursor: default;
}

.worldmap[data-autoreset="on"].is-zoomed {
  cursor: zoom-out;
}

.worldmap[data-preventzoomout="on"].is-zoomed {
  cursor: unset;
}

.worldmap[data-zoom="on"]:not(.is-zoomed) {
  svg {
    path.is-selected:not(.is-single):not([data-url]) {
      cursor: zoom-in;
    }
  }
}

.worldmap[data-zoom="off"] {
  svg {
    path.is-selected[data-url] {
      fill: var(--color-available);
      cursor: pointer;
    }
    path.is-selected:hover[data-url] {
      fill: var(--color-linked-hover);
    }
  }

}

// Smartphones - remove tooltips.
@media only screen and (max-width: 760px) {
  .worldmap {
    &__tooltip {
      display: none;
    }
  }
}

.worldmap {
  // Disable stroke for small countries.
  path[data-id="AG"],
  path[data-id="BM"],
  path[data-id="BB"],
  path[data-id="KM"],
  path[data-id="CV"],
  path[data-id="KY"],
  path[data-id="DM"],
  path[data-id="MQ"],
  path[data-id="GP"],
  path[data-id="FK"],
  path[data-id="FO"],
  path[data-id="GD"],
  path[data-id="VC"],
  path[data-id="LC"],
  path[data-id="VI"],
  path[data-id="TT"],
  path[data-id="IC"],
  path[data-id="PF"],
  path[data-id="KN"],
  path[data-id="CW"],
  path[data-id="AW"],
  path[data-id="LI"],
  path[data-id="MV"],
  path[data-id="MS"],
  path[data-id="NR"],
  path[data-id="PN"],
  path[data-id="SG"],
  path[data-id="SX"],
  path[data-id="SC"],
  path[data-id="BS"],
  path[data-id="TC"],
  path[data-id="TO"],
  path[data-id="TT"],
  path[data-id="YT"],
  path[data-id="MQ"],
  path[data-id="VG"],
  path[data-id="AI"],
  path[data-id="PR"],
  path[data-id="RE"],
  path[data-id="MU"],
  path[data-id="FK"] {
    stroke: none;
  }
}







