{%
  set classes = [
  'block',
  'block-' ~  config.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ content.contextual_links }}
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
{% block content %}
<div {{ content_attributes.addClass(['content', 'worldmap']) }}
  {% if config.zoom %}
    data-zoom="on"
    {% else %}
    data-zoom="off"
  {% endif %}
  {% if config.auto_zoom %}
    data-autozoom="on"
  {% endif %}
  {% if config.reset_on_click_outside %}
    data-autoreset="on"
    {% else %}
    data-autoreset="off"
  {% endif %}
  {% if config.tooltips %}
    data-tooltips="on"
  {% else %}
    data-tooltips="off"
  {% endif %}
  {% if config.auto_zoom and config.prevent_zoom_out %}
    data-preventzoomout="on"
  {% endif %}
>
  {% if config.auto_zoom and not config.prevent_zoom_out %}
  <img class="worldmap__zoom-in-icon" alt="{{ 'Zoom in'|t }}" src="{{ module_url }}/images/icon-zoom-in.svg">
  {% endif %}
  {% if not config.auto_zoom or (config.auto_zoom and not config.prevent_zoom_out) %}
  <img class="worldmap__zoom-out-icon" alt="{{ 'Zoom out'|t }}" src="{{ module_url }}/images/icon-zoom-out.svg">
  {% endif %}
  <svg class="worldmap__svg" xmlns="http://www.w3.org/2000/svg" stroke-width="1" stroke-linejoin="round"
       stroke-alignment="outer" version="1.1" viewBox="0 0 1966.2 847">
    <g class="container" transform="translate(0,0)scale(1)">
      {% for country_code, country in map_data %}
        <path
            {% if country.selected %}
              class="is-selected"
            {% endif %}
            d="{{ country.data }}"
            data-id="{{ country_code }}"
            data-name="{{ country.name }}"
            {% if country.link is defined %}
              data-url="{{ country.link }}"
            {% endif %}
        >
        </path>
      {% endfor %}
    </g>
  </svg>
  {% if config.tooltips %}
  <span class="worldmap__tooltip"></span>
  {% endif %}
  {% if config.display_dropdown %}
    <div class="worldmap__select">
      <button class="worldmap__back worldmap__back--select visually-hidden">{{ 'back'|t }}</button>
      <select aria-label="{{ 'Select a country'|t }}" class="worldmap__dropdown">
        <option value="" selected disabled hidden>{{ '- Select country -'|t }}</option>
        {% for country_code, country in map_data %}
          {% if country.selected %}
            <option value="{{ country_code }}">{{ country.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  {% endif %}
</div>
{% endblock %}
</div>
